.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: lightgreen;
  border: 1px solid greenyellow;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px;
  width: 30%;
}

.animal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.animal-box {
  position: relative;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 3px 4px lightgray;
}

.animal {
  width: 200px;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.heart {
  position: absolute;
  bottom: 10%;
  right: 10%;
  cursor: pointer;
}
